@mixin fixed($top: 0, $z-index: 100) {
    position: fixed;
    top: $top;
    left: 0;
    right: 0;
    z-index: $z-index;
}

@mixin absolute($top: 0, $left: 0) {
    position: absolute;
    top: $top;
    left: $left;
}

@mixin flexbox($justify: center, $align: center, $direction: row, $wrap: wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin text-header($color: $primary, $font-size: $font-size-medium, $font-weight: $font-weight-bold, $text-align: left) {
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
    text-align: $text-align;
}

@mixin text-accent($color: $accent, $font-weight: $font-weight-bold) {
    color: $color;
    font-weight: $font-weight;
}

@mixin image() {
    object-fit: cover;
    width: 100% !important;
    position: relative !important;
    height: 100% !important;
}

@mixin bottom-nav($bg-color: #59adff, $text-color: #fff,  $font-size: $font-size-medium, $justify: space-between) {
    @include flexbox($justify: $justify);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 $padding-large;
    background: $bg-color;
    color: $text-color;
    font-weight: $font-weight-bold;
    border-radius: $radius-large $radius-large 0 0;
    height: $nav-height-mobile;
    font-size: $font-size;
    cursor: pointer;
}

@mixin input-style($height: $input-height-mobile) {
    height: $height;
    border-radius: $radius-medium;
    background: $background-grey;
    width: 100%;
    border: 1px solid transparent;
    color: $primary;
    padding: 0 $padding-medium;
    font-size: 0.75rem !important;
    font-family: $font-manrope;
    transition: all .1s ease; 

    @supports (-webkit-touch-callout: none) {
        font-size: 1rem !important;
    }

    &:focus {
      outline: none;
      color: $primary;
      box-shadow: 0 0 0 2px $accent-shadow;
      border: 1px solid $accent;
    }
  
    &::placeholder {
      color: $secondary
    }
  }

@mixin center-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin notify($background: $background-gradient-green) {
    border-radius: $radius-medium;
    background: $background;
    padding: $padding-medium;
}

@mixin point($background: $secondary) {
    border-radius: $radius-full;
    background: $background;
    width: $point-mobile;
    height: $point-mobile;
    margin: 0 $padding-small;
}