$primary: #1A3046;
$secondary: #989BA5;
$secondary-light: #C1C7CC;
$accent: #59ADFF;
$accent-red: #F2A0A3;
$star: #F1EA32;

$background-grey: #F6F6F6;
$background-red: #F5F2F2;
$background-white: #FFF;
$background-gradient-blue: linear-gradient(225deg, #f2f4f5 0%, #cfe7ff 100%);
$background-gradient-green: linear-gradient(225deg, #f2f4f5 0%, #e9ffe4 100%);

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

$font-size-base: 0.75rem;
$font-size-small: 0.9rem;
$font-size-medium: 1rem;
$font-size-large: 1.5rem;
$font-size-extra: 2rem;

$padding-small: 10px;
$padding-medium: 15px;
$padding-large: 30px;

$radius-small: 5px;
$radius-medium: 8px;
$radius-large: 30px;
$radius-full: 100%;

$menu-height-mobile: 110px;