.price_container {
	@include flexbox($direction: column);
	margin-top: $padding-large;
	border-radius: $radius-medium;
	background: $background-gradient-blue;
	padding: $padding-large*2;
	text-align: center;

	.price_title {
		padding-bottom: $padding-medium;
		color: $secondary;
	}

	.price_total {
		@include text-header($font-size: $font-size-extra, $font-weight: 700);
		font-family: $font-manrope;
	}
}

.confirm {
	@include bottom-nav;
	justify-content: center;
  }
  
