* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 93vh;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: $font-manrope;
  color: $primary;
}

body {
  padding:0 30px;
  font-size: 0.75rem;
  user-select: none;
  
}

a {
  color: inherit;
  text-decoration: none;
}
