.progressbar {
  @include fixed($z-index: 1000);
  height: 5px; 
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  background-color: $accent;
}

.logo {
  @include flexbox;
  padding: $padding-large 0;
}

.footer_container {
  background: $primary;
  padding: $padding-large;
  padding-bottom: $nav-height-mobile + $padding-large;
  color: #fff;
  margin: {
    left: -$padding-large;
    right: -$padding-large;
  }
  
  *:not(:first-child) {
    margin-top: $padding-medium;
  }

  .footer_tagline {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
  }

  .footer_phone {
    font-size: $font-size-medium;
    font-family: $font-manrope;
  }

  .footer_about {
    @include text-accent;
  }
}

.nav_container {
  @include bottom-nav($font-size: $font-size-base);

  .nav_count {
    padding-left: $padding-small;
    font-family:  $font-manrope;
  }

  .active {
    background: $primary;
    padding: $padding-small $padding-medium;
    @include flexbox;
    border-radius: $radius-large;

    img {
      width: $item-height-mobile-mini;
      height: $item-height-mobile-mini;
    }
  }
}
