.wrapper {
  min-height: inherit;
  padding-top: $padding-large * 2;
}

.page {
  min-height: inherit;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.profile {
  @include flexbox($justify: space-between);
  padding-top: $padding-large;

  &_info {
    display: flex;
    align-items: center;
  }

  &_title {
    padding-left: $padding-large;
    font-size: $font-size-medium;
    color: $secondary;

    h1 {
      @include text-header($font-size: $font-size-large);
    }
  }

  &_avatar {
    border-radius: $radius-full;
  }
}

.orders {
  padding-top: $padding-large;

  h1 {
    @include text-header;
    padding-bottom: $padding-large;
  }

  .item {
    @include flexbox($justify: space-between);
    margin-bottom: $padding-large;
    padding-right: $padding-medium;
    border-radius: $radius-medium;

    &_main {
      @include flexbox;
    }

    &_img {
      border-radius: $radius-medium;
      background: $secondary-light;
    }

    &_description {
      padding-left: $padding-medium;
      color: $secondary;
    }

    &_info {
      @include flexbox($justify: star);
    }

    &_point {
      @include point;
    }

    &_title {
      @include text-header($color: $accent, $font-size: $font-size-small);
      padding-bottom: $padding-small;
    }
  }

  .active {
    background: $background-gradient-blue;
    .order_img {
      background: none;
    }
  }
}

.exit {
  @include flexbox;
  margin-bottom: $padding-large;
  color: $accent;
  font-weight: $font-weight-bold;

  span {
    padding-left: $padding-small;
  }
}