.price_container {
	margin-top: 30px;
	width: 100%;
	border-radius: 8px;
	background: linear-gradient(225deg, #f2f4f5 0%, #cfe7ff 100%);
	text-align: center;

	.price_item {
		width: 100%;
	}

	.price_title {
		padding-top: 50px;
		padding-bottom: 15px;
		color: #989ba5;
	}

	.price_total {
		padding-bottom: 70px;
		font-size: 36px;
		font-weight: 700;
	}
}

.total_table {

	padding-top: 30px;
	margin-top: -10px;
	color: #989BA5;
	width: 100%;

	.row {
		font-size: 0.9rem;
		padding-top: 10px;
		display: flex;
		justify-content: space-between;

		.discount {
			color: #59adff;
			font-weight: 600;
			padding-left: 5px;
		}

		&:last-of-type {
			color: #000;

			.price {
				color: #59adff;
				font-size: 1rem;
			}
		}

		.price {
			color: #000;
		}
	}

}

.confirm {
	margin: 30px 0;
	height: 50px;
	border-radius: 8px;
	background: #59adff;
	width: 100%;
	color: #fff;
	font-weight: 600;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page_container {
	padding-top: 115px;
	min-height: inherit;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}