.header_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0 -30px;
	z-index: 100;
	background: #fff;


	.header_title {
		font-size: 1rem;
		font-weight: 500;
		width: 100%;
		text-align: center;
	}
}

.menu_wrapper {
    height: 110px;
    width: 100%;
    position: relative;
    overflow-x: hidden;
  }
  
  .menu_container_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 30px;
    z-index: 999;
    background: #fff;
  }
  
  .menu_container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
  
    .menu_image {
      margin: 0 12px;
      background: #F2F4F5;
      border-radius: 100%;
    }
  
    .menu_item {
      text-align: center;
      color: #989BA5;
  
      & > p {
        padding-top: 5px;
      }
    }
  
    .active {
      font-weight: 600;
      color: #000;
  
      .menu_image {
        background: linear-gradient(45deg, #CFE7FF, #F2F4F5);
      }
    }
  }
  
  .items_container {
  
    padding-bottom: 30px;
  
    .items_wrapper {
      padding-top: 30px;
    }
  
    .items_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-size: 1rem;
        font-weight: 600;
      }
  
      .items_sort {
        display: flex;
        align-items: center;
        color: #59ADFF;
        font-weight: 600;
  
        span {
          padding-right: 10px;
        }
      }
    }
  
    .items_list {
      padding-top: 30px;
      display: flex;
      flex-wrap: wrap;
      margin: -15px -15px;
  
      @keyframes item_animation {
        from {
          background: linear-gradient(225deg, #f2f4f5 0%, #e9ffe4 100%);
        }
        to {
          background: linear-gradient(45deg, #CFE7FF, #F2F4F5);
        }
      }  
  
      .item {
        width: 50%;
        padding: 15px;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        user-select: none;
  
        .image {
          object-fit: contain;
          width: 100% !important;
          position: relative !important;
          height: unset !important; 
          border-radius: 8px;
          background: linear-gradient(225deg, #f2f4f5 0%, #e9ffe4 100%);
        }
  
        .clicked {
          .items_price {color: #000 !important; }
          .image { animation: item_animation 0.25s ease-in-out; }
        }
  
        .items_description {
          padding-top: 10px;
          text-align: center;
  
          .items_price {
            color: #59adff;
            font-size: 1rem;
            font-weight: 700;
          }
  
          .items_title {
            color: #000;
          }
        }
      }
    }
  }

  .slider_container {
    padding-bottom: 40px;
    position: relative;
  
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  
  
    .hidden {
      display: none;
    }
  
    .content_active {
      display: block;
      animation: fadeIn 1s ease-in-out;
    }
  
    .slider_nav, .slider_subnav {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      color: #989BA5;
  
      .active {
  
        @keyframes weightIn {
          from {
            font-weight: 400;
          }
          to {
            font-weight: 600;
          }
        }
  
        font-weight: 600;
        color: #000;
        animation: weightIn 0.1s ease-in-out;
      }
    }
  
    .slider_subnav {
      justify-content: center;
  
      li {
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background: #989BA5;
        margin: 0 15px;
      }
  
      .active {
  
        @keyframes wideIn {
          from {
            width: 5px;
          }
          to {
            width: 20px;
          }
        }
  
        animation: wideIn 0.1s ease-in-out;
        background: #1A3046;
        width: 20px;
      }
    }
  
    .bold {
      font-weight: 600;
    }
    
    @keyframes slider_animation {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(0);
      }
    }
  
    .slider_content {
      position: relative;
      padding: 30px 0;
      display: flex;
      animation: slider_animation 0.25s ease-in-out;
  
      p {
        font-size: 1rem;
        flex: 1;
        align-self: center;
      }
    }
  }
  
  .slider_image_wrapper {
    width: 100%;
    flex: 1;
    padding-right: 20px;
  
    .image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }
  
  .notify {
	margin-top: 30px;
	height: 40px;
	border-radius: 8px;
	background: linear-gradient(225deg, #f2f4f5 0%, #cfe7ff 100%);
	padding-left: 15px;
	display: flex;
	align-items: center;
	vertical-align: middle;
  }
  
  .options_container {
	  padding-top: 20px;
  
	.header {
		text-align: center;
	  font-size: 1rem;
	  font-weight: 600;
	  padding-bottom: 10px;
	  padding-top: 10px;
	}
  
	  .option_item {
		  border-radius: 8px;
		  // background: #f2f4f5;
		  background: linear-gradient(225deg, #f2f4f5 0%, #f0ffed 100%);
		  padding: 15px 30px;
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
		  margin-bottom: 20px;
  
		  .option_more {
			  padding-left: 20px;			
		  }
  
		  .option_title {
			  font-size: 1rem;
			  font-weight: 600;
			  display: flex;
			  align-items: center;
		  }
  
		  .option_price {
			  font-weight: 600;
			  color: #59ADFF;
			  padding-bottom: 10px;
			  display: flex;
			  align-items: center;
		  }
  
		  .option_description {
			  color: #989BA5;
			  padding-top: 10px;
		  }
  
		  .title_image {
			  color: #000;
			  margin-right: 10px;
		  }
  
		  .point {
			  width: 5px;
			  height: 5px;
			  border-radius: 100%;
			  background: #989ba5;
			  margin: 0 5px;
		  }
	  }
  }

  .option_item {
	border-radius: 8px;
	background: linear-gradient(225deg, #f2f4f5 0%, #cfe7ff 100%);
	padding: 15px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
	color: #000;

	.option_title {
		font-size: 1rem;
		font-weight: 600;
		display: flex;
		align-items: center;


		.title_image {
			margin-right: 10px;
		}
	}

	.option_description {
		color: #7B7B7B;
		padding-top: 10px;
	}

	.option_done {
		padding-left: 20px;			
	}
}

.option_more {
	color: #59adff;
	text-align: center;
	font-weight: 600;
	padding: 25px 0;
}

.form_container {
	margin-top: -20px;
	font-weight: 600;
	margin-right: -15px;

	.form_row {
		padding-top: 20px;
		display: flex;
		width: 100%;
		flex: 100%;

		.form_col {
			flex: 1;
			margin-right: 15px;
		}

		.img_input {
			position: relative;
			  display: flex;
			  align-items: center;

			img {
				position: absolute;
				right: 10px;
			}

			.img_down {
				transform: rotate(90deg);
			}
		}

		.form_title {
			padding-bottom: 5px;
		}

		.comment {
			color: #989BA5;

			input {
				height: 80px;
			}
		}

		input {
			height: 40px;
			border-radius: 8px;
			background: #f2f4f5;
			width: 100%;
			border: none;
			color: #c1c7cc;
			padding: 0 15px;

			&:focus {
				outline: none;
				color: #000;
			}
		}
	}

}

.notify_time {
	border-radius: 8px;
	background: #1a3046;
	padding: 15px;
	color: #fff;
	font-weight: 400;
	margin-top: 20px;
}

.notify_price {
	border-radius: 8px;
	background: linear-gradient(225deg, #f2f4f5 0%, #cfe7ff 100%);
	padding: 15px;
	margin-top: 20px;
}

.confirm {
	margin: 30px 0;
	height: 50px;
	border-radius: 8px;
	background: #59adff;
	width: 100%;
	color: #fff;
	font-weight: 600;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.layout_container {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	margin: 0 -30px;
	background: #fff;

}

.layout {
	// padding-top: 115px;
	min-height: inherit;
	position: relative;
}

.header_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background: #fff;

	.header_title {
		font-size: 1rem;
		font-weight: 600;
		width: 100%;
		text-align: center;
	}
}

.nav_container {
	margin: 0 30px;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	// margin-top: 60px;
	border-radius: 30px;
	background: #59adff;

	.nav_item {
		color: #fff;
		display: flex;
		align-items: center;

		span {
			display: none;
		}
	}

	.active {
		border-radius: 30px;
		background: #1a3046;
		padding: 5px 15px;

		img {
			width: 25px;
			height: 25px;
		}

		span {
			padding-left: 15px;
			display: block;
		}
	}
}

.order_container {

	.order_item {
		padding-top: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.order_item_content {
			display: flex;

			.order_title {
				font-size: 1rem;
				font-weight: 600;
			}

			.order_img {
				border-radius: 10px;
				background: linear-gradient(225deg, #f2f4f5 0%, #e9ffe4 100%);
			}

			.order_description {
				padding-left: 10px;
		
				* {
					padding-top: 5px;
				}

				.order_type {
					color: #989ba5;
				}

				.order_price {
					font-size: 1rem;
					color: #59adff;
				}

				.oldprice {
					padding-left: 10px;
					color: #989ba5;
					text-decoration: 2px line-through #59adff;
				}
			}
		}

		.order_count {
			display: flex;
			font-size: 1rem;
			color: #59adff;

			.order_count_number {
				color: #000;
				padding: 0 30px;
			}
		}
	}
}


.additional_container {

	padding-top: 30px;

	.additional_title {
		font-size: 1rem;
		font-weight: 600;
		padding-bottom: 25px;
	}

	.additional_items {
		display: flex;
		margin-left: -20px;
		overflow: hidden;

		.additional_item {
			padding-left: 20px;
		}

		.additional_img {
			border-radius: 10px;
			background: #f2f4f5;
		}

		.additional_price {
			padding-top: 10px;
			color: #59adff;
			font-size: 1rem;
			text-align: center;
		}

		.additional_description {
			text-align: center;
			color: #989ba5;
		}
	}
}

.total_container {



	.promo_container {

		padding-top: 30px;

		.promo_title {
			padding-bottom: 5px;
		}

		.promo_input {
			display: flex;

			input {
				padding: 0 20px;
				width: 100%;
				border: none;
				height: 40px;
				border-radius: 8px 0 0 8px;
				background: #f2f4f5;
				color: #c1c7cc;
				font-size: 1rem;

				&:focus {
					outline: none;
					color: #000;
				}
			}

			.promo_btn {
				padding: 0 20px;
				height: 40px;
				border-radius: 0 8px 8px 0;
				background: #f2f4f5;
				display: flex;
				align-items: center;
				color: #59adff;
				font-weight: 600;

			}
		}

	}
}

.total_table {

	padding-top: 30px;
	margin-top: -10px;
	color: #989BA5;
	width: 100%;

	.row {
		font-size: 0.9rem;
		padding-top: 10px;
		display: flex;
		justify-content: space-between;

		.discount {
			color: #59adff;
			font-weight: 600;
			padding-left: 5px;
		}

		&:last-of-type {
			color: #000;

			.price {
				color: #59adff;
				font-size: 1rem;
			}
		}

		.price {
			color: #000;
		}
	}

}

.confirm {
	margin: 30px 0;
	height: 50px;
	border-radius: 8px;
	background: #59adff;
	width: 100%;
	color: #fff;
	font-weight: 600;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.price_container {
	margin-top: 30px;
	width: 100%;
	border-radius: 8px;
	background: linear-gradient(225deg, #f2f4f5 0%, #cfe7ff 100%);
	text-align: center;

	.price_item {
		width: 100%;
	}

	.price_title {
		padding-top: 50px;
		padding-bottom: 15px;
		color: #989ba5;
	}

	.price_total {
		padding-bottom: 70px;
		font-size: 36px;
		font-weight: 700;
	}
}

.total_table {

	padding-top: 30px;
	margin-top: -10px;
	color: #989BA5;
	width: 100%;

	.row {
		font-size: 0.9rem;
		padding-top: 10px;
		display: flex;
		justify-content: space-between;

		.discount {
			color: #59adff;
			font-weight: 600;
			padding-left: 5px;
		}

		&:last-of-type {
			color: #000;

			.price {
				color: #59adff;
				font-size: 1rem;
			}
		}

		.price {
			color: #000;
		}
	}

}

.confirm {
	margin: 30px 0;
	height: 50px;
	border-radius: 8px;
	background: #59adff;
	width: 100%;
	color: #fff;
	font-weight: 600;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page_container {
	padding-top: 115px;
	min-height: inherit;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.header_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0 -30px;
	z-index: 100;
	background: #fff;


	.header_title {
		font-size: 1rem;
		font-weight: 600;
		width: 100%;
		text-align: center;
	}
}

.photos_selected {

	.image {
		object-fit: contain;
	    width: 100% !important;
	    position: relative !important;
	    height: unset !important;

		border-radius: 30px;
		background: linear-gradient(225deg, #f2f4f5 0%, #cfe7ff 100%);
	}
}

.photos_container {
	padding-top: 60px;
}

.photos_list {
	display: flex;
	margin-left: -15px;
	padding-top: 30px;
	flex-wrap: nowrap;

	.photos_item {
		margin-left: 15px;
		flex: 100%;
	}


	.image {
		object-fit: contain;
	    width: 100% !important;
	    position: relative !important;
	    height: unset !important;

		border-radius: 10px;
		background: linear-gradient(225deg, #f2f4f5 0%, #e9ffe4 100%);
	}

	.active {
		background: linear-gradient(225deg, #f2f4f5 0%, #cfe7ff 100%);
	}
}

.description_container {
	padding-top: 30px;
	padding-bottom: 90px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	h1 {
		font-weight: 600;
		font-size: 24px;
	}

	.feedback {
		display: flex;
		align-items: center;
		margin-top: 8px;
		margin-left: -8px;
	}

	.price {
		font-size: 36px;
		font-weight: 700;
	}

	.point {
		width: 5px;
		height: 5px;
		border-radius: 100%;
		background: #989ba5;
	}

	.feedback_item {
		margin-left: 8px;
	}

	.subdescription {
		flex: 100%;
		padding-top: 30px;
		color: #989BA5;
	}

	.size {
		padding-top: 15px;
		display: flex;
		flex: 100%;
		margin-left: -25px;
		font-weight: 600;

		.size_item {
			padding-left: 25px;
		}
	}
}

.btn_container {
	position: fixed;
	bottom: 0;
	display: flex;
	background: #59ADFF;
	width: 100%;
	margin: 0 -30px;
	justify-content: center;
	padding: 20px 30px;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 1rem;
	font-weight: 600;
}

.header_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0 -30px;
	z-index: 100;
	background: #fff;


	.header_title {
		font-size: 1rem;
		font-weight: 600;
		width: 100%;
		text-align: center;
	}
}

.progress_container {
	position: relative;
	padding-top: 90px;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 20px;

	.progress_bar {
		position: absolute;
		height: 3px;
		width: 100%;
		z-index: -1;
		background: #F2F4F5;

		.progress_indicator {
			position: absolute;
			height: 3px;
			width: 0%;
			background: #59ADFF;			
		}
	}

	.progress_point {

		display: flex;
		align-items: center;
		justify-content: center;
		height: 25px;
		width: 25px;
		color: #fff;
		background: #fff;
		border-radius: 50%;
		border: 3px #F2F4F5 solid;
		color: #989BA5;
		z-index: 1;

		.progress_num {
			display: block;
		}

		.progress_complete {
			display: none;
		}


		&:last-child {
			.progress_label {
				right: 0;
			}
		}

		&:first-child {
			.progress_label {
				left: 0;
			}
		}

	}


	.active {
		color: #fff;
		background: #59ADFF;
	}

	.complete {
		color: #fff;
		background: #59ADFF;
		border: none;

		.progress_num {
			display: none;
		}

		.progress_complete {
			display: block;
		}
	}

	.progress_label {
		color: #989BA5;
		position: absolute;
		bottom: 0;
	}
}

.photo_container {
	padding-top: 40px;
	position: relative;

	.photo_title {
		font-size: 1rem;
		font-weight: 600;
	}

	.photo_itself {
		margin-top: 20px;
		object-fit: contain;
	    width: 100%;
	    position: relative !important;
	    height: unset !important;
		border-radius: 30px;
	}

	.photo_rate {
		bottom: 25px;
		position: absolute;
		display: flex;
		width: 100%;
		justify-content: space-around;
		cursor: pointer;

		img {
			padding: 10px;
			border-radius: 50%;
			background: #F2F4F5;
		}

		.photo_point {
			&:first-child {
				transform: rotate(180deg);
			}	
		}

		.active {
			background: #59ADFF;
		}
	}

}

.order_container {
	padding-top: 40px;

	.order_title_container {

		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 20px;

		.order_title {
			font-size: 1rem;
			font-weight: 600;
		}

		.order_repeat {
			display: flex;
			color: #59ADFF;

			.image {
				margin-right: 10px;
			}
		}
	}

	.order_list {

		padding: 20px;
		border-radius: 8px;
		background: linear-gradient(225deg, #f2f4f5 0%, #e9ffe4 100%);


		.order_item {

			padding-bottom: 20px;
			
			.order_item_main {
				display: flex;
				align-items: center;
				padding-bottom: 5px;

				.order_item_title {
					font-weight: 600;
				}

				.point {
					border-radius: 50%;
					background: #989ba5;
					width: 5px;
					height: 5px;
					margin: 0 10px;
				}
			}

			.order_item_description {
				color: #989ba5;
			}
		}
	}

	.order_line {
		// width: 100%;
		margin: 0 -20px;
		height: 1px;
		background: #fff;
	}

	.order_total {
		padding-top: 20px;
		display: flex;
		justify-content: space-between;
	}

}

.detail_container {
	padding-top: 40px;

	.detail_title_container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 20px;

		.detail_title {
			font-size: 1rem;
			font-weight: 600;
		}

		.detail_edit {
			color: #59ADFF;
		}

	}

	.detail_list {
		// padding: 20px;
		border-radius: 8px;
		background: #F2F4F5;

		.detail_item {
			padding: 15px 20px;

			.point {
				border-radius: 50%;
				background: #989ba5;
				width: 5px;
				height: 5px;
				margin: 0 10px;
			}

			.detail_item_title {
				color: #989BA5;
				padding-bottom: 5px;
			}
	
			.detail_item_main {
				font-weight: 600;
				display: flex;
				align-items: center;
			}
		}

		.detail_line {
			width: 100%;
			height: 1px;
			background: #fff;
		}


	}

}

.feedback_container {
	padding-top: 40px;

	.feedback_title {
		font-size: 1rem;
		font-weight: 600;
		padding-bottom: 20px;
	}

	.feedback_rate {
		display: flex;
		justify-content: space-between;
	

		.feedback_star {
			margin-right: 15px;
		}

		.feedback_edit {
			color:#59ADFF;
		}
	}

	.feedback_comment {
		margin-top: 10px;
		background: #F2F4F5;
		padding: 15px 20px;
		border-radius: 8px;
	}
}

.help_container {
	padding: 40px 0;
	display: flex;
	justify-content: center;
	color: #59ADFF;

	.help_icon {
		margin-right: 15px;
	}
}