.wrapper {
  padding-top: $padding-large * 2;
}

.photos_selected {
  @include image;
  border-radius: $radius-large;
  background: $background-gradient-blue;
}

.photos_list {
  @include flexbox($wrap: nowrap);
  gap: $padding-medium;
  padding-top: $padding-large;

  .photos_item {
    flex: 100%;
  }

  .image {
    background: $background-gradient-green;
    border-radius: $radius-medium;
    @include image;
  }

  .active {
    background: $background-gradient-blue;
  }
}

.details {
  @include flexbox($justify: space-between);
  padding-top: $padding-large;
  padding-bottom: 90px;

 &_title {
    @include text-header($font-size: $font-size-large);
  }

 &_rating {
    @include flexbox($justify: space-between);
    margin-top: 8px;
    gap: 8px;
  }

   &_separator {
    width: 5px;
    height: 5px;
    border-radius: $radius-full;
    background: $secondary;
  }

  &_price {
    @include text-header($font-size: $font-size-extra);
  }

  &_description {
    padding-top: $padding-large;
    color: $secondary;
  }

  &_dimensions {
    @include flexbox($justify: flex-grow);
    gap: $padding-large;
    padding-top: $padding-medium;
    font-weight: $font-weight-bold;
  }
}

.btn_container {
  @include bottom-nav($justify: center);

  .btn_img {
    @include flexbox;

    p {
      padding-left: $padding-large;
    }
  }
}
